---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  cppcoreguidelines-init-variables,
  misc-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -cert-err58-cpp,
  -misc-non-private-member-variables-in-classes,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -clang-diagnostic-unused-private-field

WarningsAsErrors: ''

HeaderFilterRegex: 'include/body_control/.*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: performance-for-range-copy.AllowedTypes
    value: ''
